server:
  port: 8084
  address: 0.0.0.0

spring:
  application:
    name: product-service
  datasource:
    url: jdbc:postgresql://localhost:5435/product_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  data:
    redis:
      host: localhost
      port: 6379
  kafka:
    bootstrap-servers: localhost:9092

file:
  upload-dir: uploads/products
  base-url: http://localhost:8080/api/v1/files/products

jwt:
  secret-key: my-hardcoded-secret-key-for-testing-purposes
  expiration: 86400000

eureka:
  client:
    service-url:
      defaultZone: http://service-discovery:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    health:
      show-details: always
  metrics:
    export:
      prometheus:
        enabled: true
  tracing:
    sampling:
      probability: 1.0

logging:
  level:
    com.lotosia: DEBUG
